<h5>Make a new blog</h5>
<a href="/" class="back">Back</a>
<form action="/create-blog" method="post">
	<label>Title: </label>
	<input type="text" name="title">
	<br>
	<label class="content1">Content: </label>
	<textarea rows="10" cols="100" type="text" name="content"></textarea>
	<br>
	<input class="create-blog" type="submit" value="Create Blog">
</form>