<html>
<head>
	<title>Blog</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<div class="topbar">
		<float class="login">login</float>
		<float class="settings">settings</float>
	</div>
	<h4>Blog</h4>
	<%= yield %>
</body>
</html>